@charset "utf-8";
/* CSS document */

body {
    margin: 0;
    font-family: avenir;
    color: white;
    background-color: white;
     }

}
h1, h2, h3 {
    margin: 0;
} 

h1 {
    color: #BE0E37;
    font-size: 50px;
}
#container {
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto; 
}
.header {
    background-color: #864B9D;
    width: 100%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 24px;
    padding-bottom: 45px;
    padding-left: 24px;
}
.content {
    padding: 0;
}

.logo {
    margin-left: auto;
    padding-top: 24px;
}



/* div class nav */

.nav {
    width: 100%;
    line-height: 35px;
    float: right;
    padding-right: 50px;
}

/* a href */

.nav a {
    display: block;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;   
}

.nav ul {
    float: right;
    list-style: none;
    position: relative;  
}
 
.nav ul li {
    float: left;
    list-style: none;
    position: relative; 
}

/* links */

.nav ul li a {
    display: block;
    font-family: avenir;
    color: white;
    font-size: 18px;
    padding-top: 70px;
    text-decoration: none;
}

.nav ul li a:hover {
    color: white;
}

.nav ul li a::after {
    content: "";
    display: block;
    position: relative;
    height: 2px;
    background-color: white;
    top: 5px;
    width: 0%;
    transition: all ease-in-out 250ms;
}

.nav ul li a:hover::after {
    width: 100%;
}

/* dropdown menu */

.nav ul li ul {
    display: none;
    position: absolute;
    background-color: #ff80d3;
    padding: 0;
    margin-top: -10px;
    border-radius: 0px 0px 8px 8px;
}
.nav ul li:hover ul {
    display: block;
    position: absolute;
    background-color: #ff80d3;
    padding: 0;
    margin-top: -10px;
    border-radius: 0px 0px 8px 8px;  
}
.nav ul li ul li {
    padding: 5px 14px;
}
.nav ul li ul li a {
    color: white;
}
.nav ul li ul li a:hover {
    color: white;
}



/* banner */

.banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/banner.jpg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding-top: 400px;
}

.banner_text {
    color: white;
    font-family: avenir;
    font-size: 50px;
    text-align: center;
    position: relative;
    padding-bottom: 400px;
}



.headline {
    color: #BE0E37;
    font-family: avenir;
    margin-left: 60px;
    margin-right: 60px;
}

.featured {
    font-family: avenir;
    color: black;
}

/* featured products section */

.flex-container {
    display: flex;
    clear: both;
    background-color: white;
    justify-content: center;
    margin-bottom: 50px;
}


.featured_products1 {
    font-family: avenir;
    text-align: center;
    color: black;
    font-size: 24px;
}

.featured_products1 a {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}

.featured_products1 a:hover {
    color: black;
}

.featured_products1 a::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    bottom: -5px;
    left: 0;
    transform-origin: center;
    width: 100%;
    transition: all ease-in-out 250ms;
    transform: scaleX(0);
    
}

.featured_products1 a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.featured_products2 {
    font-family: avenir;
    text-align: center;
    color: black;
    font-size: 24px;
}

.featured_products2 a {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}

.featured_products2 a:hover {
    color: black;
}

.featured_products2 a::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    bottom: -5px;
    left: 0;
    transform-origin: center;
    width: 100%;
    transition: all ease-in-out 250ms;
    transform: scaleX(0);
    
}

.featured_products2 a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.featured_products3 {
    font-family: avenir;
    text-align: center;
    color: black;
    font-size: 24px;
}

.featured_products3 a {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}

.featured_products3 a:hover {
    color: black;
}

.featured_products3 a::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    bottom: -5px;
    left: 0;
    transform-origin: center;
    width: 100%;
    transition: all ease-in-out 250ms;
    transform: scaleX(0);
    
}

.featured_products3 a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

/* learn more section */

.learn_more {
    display: flex;
    background-color: white;
    margin-bottom: 50px;
    position: relative;
}

.learn_more2 {
    display: flex;
    background-color: white;
    margin-bottom: 50px;
    position: relative;
    justify-content: right;
}

.cheers_img {
    position: relative;
    padding-right: 20px;
}

.staff_img {
    position: relative;
    padding-left: 20px;
}

.juices_img {
    position: relative;
    padding-right: 20px;
}

.learn_more_description {
    color: black;
    font-family: avenir;
    font-size: 18px;
    position: relative;
}

.learn_more_button {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #55b459;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.learn_more_button a {
    text-decoration: none;
    color: white;
}



/* footer */

.footer {
    background-color: #F170AB;
    font-family: avenir;
    color: white;
    padding: 5px 24px;
    width: 100%;
    bottom: 0;
}



/* about */

.flex-container2 {
    display: flex;
    justify-content: left;
    background-color: white;
    clear: both;
}
.flex-container2 > div {
    background-color: white;
    margin: 50px;
    text-align: left;
}
.ceo {
    margin-top: 70px;
    margin-left: 120px;
    margin-right: 0px;
    margin-bottom: 0px;
}
/* .about_headline {
    color: #BE0E37;
    font-family: avenir;
    font-size: 24px;
    margin-left: 120px;
    margin-right: 400px;
    margin-top: 0px;
    margin-bottom: 0px;
} */
.about_description {
    color: black;
    font-family: avenir;
    font-size: 18px;
}



/* products */


.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #2196F3;
  color: white;
}

.topnav .search-container {
  float: right;
}

.topnav input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
    font-family: avenir;
    border-color: #55b459;
    border-width: thick;
    border-style: solid;
}

.topnav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  background-color: white;
  font-size: 17px;
  border-color: black;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: white;
}

@media screen and (max-width: 600px) {
  .topnav .search-container {
    float: none;
  }
  .topnav a, .topnav input[type=text], .topnav .search-container button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;  
  }
}


.flex-container3 {
    display: flex;
    clear: both;
    background-color: white;
    justify-content: center;
}

.apple_container {
    text-align: center;
    color: black;
    font-size: 24px;
}

.apple_container a {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}

.apple_container a:hover {
    color: black;
}

.apple_container a::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    bottom: -5px;
    left: 0;
    transform-origin: center;
    width: 100%;
    transition: all ease-in-out 250ms;
    transform: scaleX(0);
    
}

.apple_container a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.cart_button {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #55b459;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.orange_container {
    text-align: center;
    color: black;
    font-size: 24px;
}

.orange_container a {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}

.orange_container a:hover {
    color: black;
}

.orange_container a::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    bottom: -5px;
    left: 0;
    transform-origin: center;
    width: 100%;
    transition: all ease-in-out 250ms;
    transform: scaleX(0);
    
}

.orange_container a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.strawberry_banana_container {
    text-align: center;
    color: black;
    font-size: 24px;
}

.strawberry_banana_container a {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}

.strawberry_banana_container a:hover {
    color: black;
}

.strawberry_banana_container a::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    bottom: -5px;
    left: 0;
    transform-origin: center;
    width: 100%;
    transition: all ease-in-out 250ms;
    transform: scaleX(0);
    
}

.strawberry_banana_container a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.flex-container4 {
    display: flex;
    clear: both;
    background-color: white;
    justify-content: center;
}

.grape_container {
    text-align: center;
    color: black;
    font-size: 24px;
}

.grape_container a {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}

.grape_container a:hover {
    color: black;
}

.grape_container a::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    bottom: -5px;
    left: 0;
    transform-origin: center;
    width: 100%;
    transition: all ease-in-out 250ms;
    transform: scaleX(0);
    
}

.grape_container a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.lemon_container {
    text-align: center;
    color: black;
    font-size: 24px;
}

.lemon_container a {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}

.lemon_container a:hover {
    color: black;
}

.lemon_container a::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    bottom: -5px;
    left: 0;
    transform-origin: center;
    width: 100%;
    transition: all ease-in-out 250ms;
    transform: scaleX(0);
    
}

.lemon_container a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.pineapple_container {
    text-align: center;
    color: black;
    font-size: 24px;
}

.pineapple_container a {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}

.pineapple_container a:hover {
    color: black;
}

.pineapple_container a::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    bottom: -5px;
    left: 0;
    transform-origin: center;
    width: 100%;
    transition: all ease-in-out 250ms;
    transform: scaleX(0);
    
}

.pineapple_container a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.flex-container5 {
    display: flex;
    clear: both;
    background-color: white;
    justify-content: center;
}

.strawberry_container {
    text-align: center;
    color: black;
    font-size: 24px;
}

.strawberry_container a {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}

.strawberry_container a:hover {
    color: black;
}

.strawberry_container a::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    bottom: -5px;
    left: 0;
    transform-origin: center;
    width: 100%;
    transition: all ease-in-out 250ms;
    transform: scaleX(0);
    
}

.strawberry_container a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.strawberry_kiwi_container {
    text-align: center;
    color: black;
    font-size: 24px;
}

.strawberry_kiwi_container a {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}

.strawberry_kiwi_container a:hover {
    color: black;
}

.strawberry_kiwi_container a::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    bottom: -5px;
    left: 0;
    transform-origin: center;
    width: 100%;
    transition: all ease-in-out 250ms;
    transform: scaleX(0);
    
}

.strawberry_kiwi_container a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}

.fruitpunch_container {
    text-align: center;
    color: black;
    font-size: 24px;
}

.fruitpunch_container a {
    text-decoration: none;
    color: black;
    display: inline-block;
    position: relative;
}

.fruitpunch_container a:hover {
    color: black;
}

.fruitpunch_container a::after {
    content: "";
    position: absolute;
    height: 2px;
    background-color: black;
    bottom: -5px;
    left: 0;
    transform-origin: center;
    width: 100%;
    transition: all ease-in-out 250ms;
    transform: scaleX(0);
    
}

.fruitpunch_container a:hover::after {
    transform: scaleX(1);
    transform-origin: center;
}


/* blog */

.blog_banner {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
}

.blog_text {
    font-family: avenir;
    color: black;
    font-size: 18px;
    position: relative;
    padding-left: 300px;
    padding-right: 300px;
}


/* contact */

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 10px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #55b459;
  color: white;
  padding: 15px 32px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
    text-align: center;
    font-size: 16px;
}

.contact_container {
    background-color: white;
    padding: 20px;
    position: relative;
    color: black;
    justify-content: center;
    margin-left: 400px;
    margin-right: 400px;
}

.contact {
    position: relative;
}

.address {
    position: relative;
    font-size: 24px;
}